{% extends "admin/change_list.html" %}
{% load i18n %}
{% load admin_urls %}

{# Original template renders object-tools only when has_add_permission is True. #}
{# This hack allows sub templates to add to object-tools #}
{% block object-tools %}
  <ul class="object-tools">
    {% block object-tools-items %}
      {% if has_add_permission %}
        <li><a href='import' class="import_link">{% trans "Import" %}</a></li>
        {{ block.super }}
      {% endif %}
    {% endblock %}
  </ul>
{% endblock %}