{% extends 'base.html' %}
{% load static %}

{% block content %}
    {% if seats_left > 0 %}
        <div class="width:100%; float:left">
            <iframe id="yurplan-iframe" src="{{ shop_url }}" data-auth="{{ code }}" height="500px" width="100%" scrolling="auto" frameborder="0"></iframe>
        </div>
    {% else %}
        <div class="text-center">
            <h4>Vous n'avez plus de places disponibles.</h4>
            <div class="form-group"></div>
            <div class="row">
                <a href="{% url 'invite' code=guest.code %}" class="btn btn-primary col-md-6 col-md-offset-3">Voir mes invitations</a>
            </div>
        </div>
    {% endif %}
{% endblock %}

{% block javascript %}
    <script src="{% static 'invitation/shop.js' %}"></script>
    <script src="{% static 'invitation/ping.js' %}"></script>
{% endblock %}