{% extends 'base.html' %}

{% block content %}
    <div class="text-center">
        <h3>Ce code d'inscription est déjà en cours d'utilisation. Patientez...</h3>
        <p>Vous pouvez patientez sur cette pages pour attendre la fin de l'utilisation précédente.
            Vérifiez que vous n'avez pas ouvert plusieurs fois le lien.</p>
    </div>
{% endblock %}

{% block javascript %}
    <script>
        var code = "{{ code }}";
        $(function(){
            var success = 0;
            function test() {
                $.get('/shop/available/'+code, function (result) {
                    if(result.success){
                        success++;
                        if(success>1) {
                            var next = '{{ next_url }}';
                            if (window.location.href == next)
                                window.location.reload();
                            else
                                window.location.href = next;
                        }
                    } else {
                        success=0;
                    }
                });
            }
            setInterval(test, 5000);
        });
    </script>
{% endblock %}