{% extends 'shop/cart.html' %}

{% block cart_content %}

    <div class="row">
        <div class="col-md-12 alert alert-success row">
            <div class="col-md-2">
                <i class="glyphicon glyphicon-ok-circle" style="font-size: 10em"></i>
            </div>
            <div class="col-md-10">
                <h2>Votre commande s'est déroulée avec succès</h2>
                <p>Vos billets sont bien reservés pour le Gala INSA Lyon 2017. Vous les receverez par mail à l'adresse {{ order.guest.email }}.</p>
            </div>
        </div>
        <div class="form-group text-center">
            <a href="{% url 'shop.ongoing' %}" class="btn btn-success">Repasser une commande</a>
        </div>
    </div>

{% endblock %}