{% extends 'invitation/email/base.html' %}

{% block placeholder %}{% endblock %}

{% block content %}
    <table border="0" cellpadding="0" cellspacing="0">
        <tr>
            <td>
                <p>Bonjour {{ guest.first_name }},</p>
                <p>Vous êtes invité à participer au GALA 21 de l'INSA Lyon pour votre remise de diplôme.</p>
                <p>Ce Gala vous est exclusivement dédié, à vous les diplômés 2016 INSA Lyon. 
                    C'est donc dans une ambiance intime que vous allez pouvoir célébrer votre diplôme avec
                    toute votre promo ainsi que vos proches. Pour qu'un maximum d'entre vous puisse se
                    retrouver et profiter pleinement de cette soirée, le nombre d'invités est limité
                    à 7 personnes.</p>
                <h2>Modalités de fonctionnement</h2>
                <ul>
                    <li>Ce mail contient un lien unique et personnel vers la billetterie.</li>
                    <li>Vous avez la possibilité de réserver votre place et celles de vos invités. </li>
                    <li>Après votre paiement, vous pouvez nous transmettre une liste d'invités supplémentaires.
                        Ils recevront à leur tour par mail un lien pour réserver leur place.</li>
                </ul>
                <table border="0" cellpadding="0" cellspacing="0" class="btn btn-primary">
                    <tbody>
                    <tr>
                        <td align="center">
                            <table border="0" cellpadding="0" cellspacing="0">
                                <tbody>
                                <tr>
                                    <td><a href="{{ host }}{% url 'shop' code=guest.code %}" target="_blank">Accéder à la billetterie</a></td>
                                </tr>
                                </tbody>
                            </table>
                        </td>
                    </tr>
                    </tbody>
                </table>
                <h2>Les formules proposées</h2>
                <p>Nous vous proposons cette année trois types de billets&nbsp;:</p>
                <h3>Les packs avec nuit à l'hôtel</h3>
                <ul>
                    <li><b>Le pack Week-end : </b>
                        <p>230€ pour une personne, 330€ pour deux</p>
                        <p>Avec le pack Week-end vous n'avez à vous préoccuper de rien, notre équipe vous accompagne
                            tout au long de ce week-end exceptionnel.</p>
                        <p>Vous êtes convié au dîner de gala (pack Dîner ci-dessous), avec une bouteille de
                            champagne offerte.</p>
                        <p>L'hôtel, à deux pas de la sucrière, est réservé pour les vendredi et samedi soirs,
                            petit-déjeuner compris.</p>
                        <p>Les trajets de votre arrivée à la gare le vendredi jusqu'à votre retour à l'hôtel le
                            samedi soir seront pris en charge.</p>
                    </li>
                    <li><b>Le pack Nuitée : </b>
                        <p>170€ pour une personne, 250€ pour deux</p>
                        <p>Le pack Nuitée vous permet aussi de profiter totalement de votre soirée de Gala avec
                            le dîner, une bouteille de champagne et la nuit. L'hôtel, à côté de la sucrière, est
                            réservé uniquement pour le samedi soir (petit-déjeuner compris).</p>
                        <p>Vos trajets seront pris en charge dès votre arrivée samedi jusqu'à votre retour à l'hôtel à
                            la fin de la soirée.</p>
                    </li>
                </ul>
                <h3>Les packs repas</h3>
                <ul>
                    <li><b>Le pack Dîner : 70€</b>
                        <p></p>
                        <p>Le pack Dîner permet de débuter la soirée de Gala dès 19h. C'est l'occasion de partager un
                            repas chaleureux entouré de vos proches. Musiciens et artistes se relaieront pour animer
                            ce dîner. </p>
                    </li>
                    <li><b>Le pack Cocktail dinatoire : 50€</b>
                        <p></p>
                        <p>A partir de 19H30, le pack Cocktail dinatoire vous invite à partager un assortiment de mets
                            préparés par notre traiteur. Vous profiterez également du spectacle depuis
                            la mezzanine. </p>
                    </li>
                </ul>
                <h3>Le pack Soirée : 35€</h3>
                <p>Si vous souhaitez ne participer qu'à la soirée, le pack Soirée vous permet de rejoindre l'ensemble
                    de la promotion dès 22h.</p>
                <h3>Arrivée en péniche : +25€</h3>
                <p>Au vue de la situation exceptionnelle de la Sucrière sur les bords de la Saône, nous proposons une
                    arrivée en péniche au Gala. Vous pourrez profiter d'une vue exceptionnelle de Lyon et d'un moment
                    unique à bord avec petits fours et champagne.</p>
                <h3>Bouteille de Champagne : +30€</h3>
                <p>Afin de profiter au mieux de votre soirée, nous vous proposons de précommander une bouteille de
                    champagne Pommery. Vous pourrez la récupérer à l'un de nos bars le jour J. Attention, les bouteilles
                    Pommery sur place seront en nombre limité !</p>
                <p>Quelque soit le billet choisi, des navettes seront à la disposition des participants pour lier le
                    campus et la soirée, à l'aller comme au retour. Pour tout savoir sur le déroulé de la journée et
                    les moyens de transport à votre disposition, suivez les actualités du Gala sur notre
                    <a href="http://gala.bde-insa-lyon.fr">site internet</a>
                    et notre page Facebook.</p>
                <p>&Agrave; bientôt au Gala INSA Lyon !</p>
            </td>
        </tr>
    </table>
{% endblock %}
