{% extends 'base.html' %}

{% load bootstrap_tags %}
{% load static %}

{% block content %}
    <div class="page-header">
        <h3 class="text-center">Liste d'attente</h3>
        <p class="text-center text-muted" style="max-width: 500px; margin: auto">
            En raison d'une forte demande, nous ne pouvons plus vous vendre certains pack
            cependant nous vous invitons à vous inscrire sur une liste d'attente et
            vous contacterons si des places se libèrent.
        </p>
    </div>
    <div class="row">
        {% if object_list %}
        <div class="col-md-6 col-md-offset-3">
            <ul class="list-group">
                {% for ticket in object_list %}
                    <li class="list-group-item">
                        <a href="{% url 'leave_waitlist' ticket.id %}" class="badge text-danger btn-sm pull-right">Annuler</a>
                        <span class="badge">Position&nbsp;: {{ ticket.position }}</span>
                        {{ ticket.owner }} - {{ ticket.waiting_list }} - {{ ticket.amount }} place{{ ticket.amount|pluralize }}
                    </li>
                {% endfor %}
            </ul>
        </div>
        {% endif %}
        <div class="col-md-6 col-md-offset-3">
            {% if left_seats > 0 %}
                <form action="{% url 'register_waitlist' %}" method="post" id="register-form" class="row">
                    {% csrf_token %}
                    {{ form.non_field_errors }}
                    <div class="form-group">
                        <label for="{{ form.waiting_list.id_for_label }}">Type de place</label>
                        {{ form.waiting_list }}
                    </div>
                    <div class="form-group">
                        <label for="{{ form.amount.id_for_label }}">Nombre de places souhaité</label>
                        {{ form.amount }}
                    </div>
                    <div class="form-group">
                        <label for="{{ form.phone.id_for_label }}">Numéro de téléphone pour vous joindre</label>
                        {{ form.phone }}
                    </div>
                    <div class="form-actions row">
                        <button type="submit" class="col-md-6 col-md-offset-3 btn btn-primary">Inviter</button>
                    </div>
                </form>
            {% else %}
                <p class="text-center">Vous avez déjà utilisé toutes vos places</p>
            {% endif %}
        </div>
    </div>
    <script>
        $(function () {
            $('#register-form').find('input, select').addClass('form-control');
        })
    </script>
{% endblock %}