{% extends 'base.html' %}

{% block title %}Mentions légales{% endblock %}
{% block content %}
    <div class="page-header">
        <h1>Mentions légales</h1>
    </div>
    <p>
        Ce site est un espace de billetterie numérique reservé aux diplômés 2016 de l'INSA Lyon et leurs invités.
    </p>
    <h3>Editeur</h3>
    <div class="row">
    <div class="col-md-2 text-center"><img src="http://logos.bde-insa-lyon.fr/bde/bde.png" width="80%"></div>
    <div class="col-md-10">
        <address>
        <strong>Bureau des Elèves de l'INSA Lyon</strong><br>
        20 avenue Albert Einstein<br>
        69100 Villeurbanne<br>
        France<br>
        <abbr title="Phone">P:</abbr> +33 (0)4 72 43 82 29<br>
        R.C.S. Lyon - N° SIREN : 380 438 358
    </address>
    </div>
    </div>

    <h3>Editeur de la billetterie</h3>
    <div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-10"></div>
    </div>
    <address>
    <img src="https://yurplan.com/images/logos/mini-logo-orange.png" style="height: 1em;margin: 0.1em" alt="YurPlan SAS"><br>
        1 rue de la république<br>
        69001 Lyon<br>
        France<br>
        R.C.S. Lyon - N° SIREN : 535 255 020
    </address>
    <h3>Publication</h3>
    <p><b>Directeur de la publication :</b> Arthur Raynal</p>
    <p><b>Webmaster :</b> Equipe de gestion informatique du BdE INSA Lyon</p>
    <h3>Hébergement</h3>
    <p>L'hébergement est assuré par le BdE INSA Lyon</p>
    <h3>Données personnelles </h3>
    <p>Les informations recueillies à partir de ce site font l’objet d’un traitement
        informatique destiné&nbsp;à :</p>
    <p><strong>Bureau des Elèves de l'INSA de Lyon</strong></p>
    <p>Pour la ou les finalité(s) suivante(s) :&nbsp;</p>
    <p><strong>Achat de billet et envoi d'invitations pour le Gala INSA Lyon 2017</strong></p>
    <p>Le ou les&nbsp;destinataire(s) des données sont :</p>
    <p><strong>l'équipe de gestion du Gala INSA Lyon et Yurplan</strong></p>
    <p>Conformément à la <a href="https://www.cnil.fr/fr/loi-78-17-du-6-janvier-1978-modifiee">loi « informatique
        et libertés » du 6 janvier 1978 modifiée</a>, vous disposez d’un&nbsp;<a href="https://www.cnil.fr/fr/le-droit-dacces">droit
        d’accès</a> et <a href="https://www.cnil.fr/fr/le-droit-de-rectification">de rectification</a> aux informations qui vous
        concernent.&nbsp;</p>
    <p>Vous pouvez accèder aux informations vous concernant&nbsp;en vous adressant à&nbsp;:</p>
    <p class="text-center"><strong>Equipe Informatique du BdE INSA Lyon<br>
        20 avenue Albert Einstein<br>
        69621 Villeurbanne CEDEX<br>
        orgaif.resp@bde-insa-lyon.fr</strong><br>
        &nbsp;</p>
    <p>Vous pouvez également, pour des motifs légitimes, <a href="https://www.cnil.fr/fr/le-droit-dopposition">vous
        opposer&nbsp;au traitement des données vous concernant</a>.</p>
    <p>Pour en savoir plus, <a href="https://www.cnil.fr/fr/comprendre-vos-droits">consultez&nbsp;vos droits sur
        le site de la CNIL</a>.</p>

    <h3>Contact</h3>
    <p>Vous pouvez nous contacter à tout moment pour le gala à <a href="mailto: gala.accueil@bde-insa-lyon.fr">gala.accueil@bde-insa-lyon.fr</a>.
    </p>
    <p>Pour tout autre demande : <a href="mailto: courrier@bde-insa-lyon.fr">courrier@bde-insa-lyon.fr</a></p>
{% endblock %}